.side1{
    position: fixed;
    top: 0vh;
    height: 100%;
    width: 300px;
    background-color: white;
    z-index: 2;
}
.menuicon{
   position: absolute;
   color: white;
   transform: translateY(-85px);

}
.topbar1{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 50px;
    width: 100vw;
    background-color: black;
    z-index: 2;
}
