body{
  background-image: linear-gradient(225deg,rgba(0, 0, 0, 30%) ,#000),url(./DES.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.circle {
  height: 24px;
  width: 24px;
  border-radius: 24px;
  background-color: black;
  position: fixed; 
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 99999999; /* so that it stays on top of all other elements */
}
@media screen and (max-width:700px){
  body{
    background-image: linear-gradient(225deg,rgba(0, 0, 0, 30%) ,#000),url(./TAB.jpg);
  }
  
}
@media screen and (max-width:420px){
  body{
    background-image:linear-gradient(225deg,rgba(0, 0, 0, 30%) ,#000), url(./MOB.jpg);
  }
  
}